.toaster,
.toaster-fail,
.toaster-info,
.toaster-success,
.toaster-warning
{
    border-radius: 10em;
    cursor: pointer;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.toaster
{
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    color: #1f5563;
}

.toaster-fail
{
    background: red;
    color: white;
}

.toaster-success
{
    background: green;
    color: white;
}

.toaster-warning
{
    background: orange;
    color: white;
}

.toaster-info
{
    background: blue;
    color: white;
}