.outer-box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(200, 2%, 31%, 0.6);
}

.inner-box
{
    position: relative;
    top: 50%;
    height: 4em;
    width: 4em;
    margin: 0 auto;
    transform: translateY(-50%);
}

.inner-box img
{
    width: 100%;
    height: auto;
}